/*      GENERAL     */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
.modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/*Modal 1 Style */
#myImgModal1 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImgModal1:hover {opacity: 0.7;}
#caption1 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 20px;
}
.close1 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close1:hover,
.close1:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*Modal 2 Style */
#myImgModal2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImgModal2:hover {opacity: 0.7;}
#caption2 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 20px;
}
.close2 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close2:hover,
.close2:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*Modal 10 Style */
#myImgModal10 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImgModal10:hover {opacity: 0.7;}
#caption10 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 20px;
}
.close10 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close10:hover,
.close10:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*Modal 4 Style */
#myImgModal4 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImgModal4:hover {opacity: 0.7;}
#caption4 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 20px;
}
.close4 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close4:hover,
.close4:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*Modal 5 Style */
#myImgModal5 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImgModal5:hover {opacity: 0.7;}
#caption5 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 20px;
}
.close5 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close5:hover,
.close5:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*Modal 15 Style */
#myImgModal15 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImgModal15:hover {opacity: 0.7;}
#caption15 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 20px;
}
.close15 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close15:hover,
.close15:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*Modal 7 Style */
#myImgModal7 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImgModal7:hover {opacity: 0.7;}
#caption7 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 20px;
}
.close7 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close7:hover,
.close7:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*Modal 8 Style */
#myImgModal8 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImgModal8:hover {opacity: 0.7;}
#caption8 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 20px;
}
.close8 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close8:hover,
.close8:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*Modal 9 Style */
#myImgModal9 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImgModal9:hover {opacity: 0.7;}
#caption9 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 20px;
}
.close9 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close9:hover,
.close9:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*Modal 2 Style */
#myImgModal3 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImgModal3:hover {opacity: 0.7;}
#caption3 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 20px;
}
.close3 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close3:hover,
.close3:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*Modal 11 Style */
#myImgModal11 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImgModal11:hover {opacity: 0.7;}
#caption11 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 20px;
}
.close11 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close11:hover,
.close11:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*Modal 12 Style */
#myImgModal12 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImgModal12:hover {opacity: 0.7;}
#caption12 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 20px;
}
.close12 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close12:hover,
.close12:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*Modal 6 Style */
#myImgModal6 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImgModal6:hover {opacity: 0.7;}
#caption6 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 20px;
}
.close6 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close6:hover,
.close6:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*Modal 14 Style */
#myImgModal14 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImgModal14:hover {opacity: 0.7;}
#caption14 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 20px;
}
.close14 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close14:hover,
.close14:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*Modal 32 Style */
#myImgModal32 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImgModal32:hover {opacity: 0.7;}
#caption32 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 20px;
}
.close32 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close32:hover,
.close32:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*Modal 16 Style */
#myImgModal16 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImgModal16:hover {opacity: 0.7;}
#caption16 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 20px;
}
.close16 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close16:hover,
.close16:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*Modal 17 Style */
#myImgModal17 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImgModal17:hover {opacity: 0.7;}
#caption17 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 20px;
}
.close17 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close17:hover,
.close17:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*Modal 18 Style */
#myImgModal18 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImgModal18:hover {opacity: 0.7;}
#caption18 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 20px;
}
.close18 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close18:hover,
.close18:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*Modal 19 Style */
#myImgModal19 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImgModal19:hover {opacity: 0.7;}
#caption19 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 20px;
}
.close19 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close19:hover,
.close19:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*Modal 20 Style */
#myImgModal20 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImgModal20:hover {opacity: 0.7;}
#caption20 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 20px;
}
.close20 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close20:hover,
.close20:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*Modal 21 Style */
#myImgModal21 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImgModal21:hover {opacity: 0.7;}
#caption21 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 20px;
}
.close21 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close21:hover,
.close21:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*Modal 22 Style */
#myImgModal22 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImgModal22:hover {opacity: 0.7;}
#caption22 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 20px;
}
.close22 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close22:hover,
.close22:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*Modal 30 Style */
#myImgModal30 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImgModal30:hover {opacity: 0.7;}
#caption30 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 20px;
}
.close30 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close30:hover,
.close30:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*Modal 23 Style */
#myImgModal23 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImgModal23:hover {opacity: 0.7;}
#caption23 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 20px;
}
.close23 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close23:hover,
.close23:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*Modal 124 Style */
#myImgModal24 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImgModal24:hover {opacity: 0.7;}
#caption24 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 20px;
}
.close24 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close24:hover,
.close24:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*Modal 25 Style */
#myImgModal25 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImgModal25:hover {opacity: 0.7;}
#caption25 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 20px;
}
.close25 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close25:hover,
.close25:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/*Modal 26 Style */
#myImgModal26 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImgModal26:hover {opacity: 0.7;}
#caption26 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 20px;
}
.close26 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close26:hover,
.close26:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*Modal 27 Style */
#myImgModal27 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImgModal27:hover {opacity: 0.7;}
#caption27 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 20px;
}
.close27 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close27:hover,
.close27:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*Modal 28 Style */
#myImgModal28 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImgModal28:hover {opacity: 0.7;}
#caption28 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 20px;
}
.close28 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close28:hover,
.close28:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*Modal 31 Style */
#myImgModal31 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImgModal31:hover {opacity: 0.7;}
#caption31 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 20px;
}
.close31 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close31:hover,
.close31:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
